canvas{
    
    background-color: blue;
    box-shadow: 25px 25px 105px black;

}
body{
    background-image: url(https://media.istockphoto.com/illustrations/thinking-doodles-text-illustration-id165930912);
}
#hhib{
    height: 217px;
}